body {
    background-color: #f0f2f5; 
    font-family: Arial, sans-serif; 
}

.navbar {
    box-shadow: 0 2px 4px rgba(0,0,0,.1); 
}

.card {
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0,0,0,.1); 
    margin-top: 20px; 
}

.card-header {
    background-color: #9c7ab1; 
    color: #fff; 
    font-size: 24px; 
    text-align: center; 
    border-bottom: none; 
}

.form-control {
    border-radius: 20px; 
    padding: 20px; 
    margin-bottom: 10px; 
}

.btn-dark {
    border-radius: 20px; 
    padding: 10px 30px; 
    font-size: 18px; 
    width: 100%; 
    box-shadow: 0 2px 4px rgba(0,0,0,.2); 
    

}

#loginSubmit {
    background-color: #9c7ab1;
    border-color: #9c7ab1; 
    color: #ffffff; 
}

#loginSubmit:hover, #loginSubmit:focus {
    background-color: rgb(128, 0, 128); 
    border-color: rgb(128, 0, 128);
}


.btn-dark:hover {
    background-color: rgb(128, 0, 128); 
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .card {
        margin-left: 20px;
        margin-right: 20px;
    }
}
